body{
  display: flex;
}
div {
  display: flex;
  justify-content: left;
  border-radius: 10px;
  font-family: "Miriam Libre", Courier, monospace;
}
.container{
  height: 31vw;
  width: 98vw;
  flex-gorw: 2;
}
.title{
  border: solid;
  height: 8.8vw;
  width: 32.4vw;
  font-size: 2.6vw;
  font-weight: bold;
  text-align: center;
  justify-content:center; 
}
.trait{
  position: absolute;
  bottom: 1px;
  left:300px;
  height:885px;
  width:0px;
  border:1.25px solid black;
}
.lign{
  position: absolute;
  top: 125px;
  width:1275px; 
  border:1.25px solid black
}
.info-img {
  height: 19vw;
  width: 60vw;
  border: solid;
  margin-top: 10vw;
  margin-left: 23.5vw;
  margin-right: 10vw;
  padding: 15px;
}
img{
 width:70vw; 
 height: 19vw;
 border-radius: 10px;
}

<body>
  <div class="container">
    <div class="title">
      <p>Kopehub</p> 
    </div> 
    <div class="trait"></div>
    <div class="lign"></div>
    <div class="info-img">
      <img src="https://webdi.fr/img/couleurs/d473d4.png" />
    </div>
  </div>
</body>
